/* All styling classes for index.html and f1.html: */


/* index.html: */

body {
  width: 100vw;
  height: 100vh;
  background-color: rgb(48, 48, 48);
  animation: fadeInAnimation ease 0.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
   }
}

.header_info { 
    color:rgb(231, 228, 28);
    background-color: rgb(85, 85, 85);
    background-image: linear-gradient(rgb(68, 68, 68), rgb(27, 27, 27));
    border-radius: 0.25rem;
    display: flex;
    width: 100%;
    flex-grow: 1;
    color:rgb(224, 223, 159);
}

.header_bar {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    padding-bottom: 2rem;
    margin-top: 1.5rem;
    color:rgb(117, 117, 117);
}

.small {
    color:rgb(231, 228, 28);
    font-size: 390%;
    /* text-decoration: underline; */
    margin: auto;
    margin-left: 1rem;
    background-clip: text;
    background-image: linear-gradient(rgb(204, 204, 204), rgb(255, 251, 0));
    -webkit-text-fill-color: transparent;
}

.smaller {
  color:rgb(231, 228, 28);
  font-size: 280%;
  /* text-decoration: underline; */
  margin: auto;
  margin-left: 1rem;
  background-clip: text;
  background-image: linear-gradient(rgb(204, 204, 204), rgb(255, 251, 0));
  -webkit-text-fill-color: transparent;
}
.search {
    /* margin: auto; */
    margin-left: 3rem;
    border-radius: 20px;
    padding-right: 1rem;
    /* flex-grow: 1; */
    flex: 8 1 0;
}

.searching {
    margin: auto;
    border: 2px solid #eee;
    /* padding: 4px; */
    border: 0;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.25);
    padding: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 20px;
    width: 100%;
    float: left;
    color:rgb(19, 19, 19);
    /* font-size: 12pt; */
}

/* search text field */
input {
    background-color:rgb(180, 180, 180);
    font-size: 15pt;
}

input::placeholder {
    color:rgb(29, 29, 29);
}

input:focus::placeholder {
    -webkit-transition: ease-out;
    color: transparent;
}

input[type=text]:focus {
    box-shadow:0 0 15px 4px rgba(0,0,0,0.5);
    /* border: 2px solid #494949; */
    -webkit-transition: 0.2s;
    transition: 0.2s;
    outline: none;
}

.icon_search {
  margin-left: -3.3rem;
  margin-top: 0.8rem;
}

a {
  color:rgb(85, 85, 85);
  text-decoration: none;
}

a:hover {
  color: rgb(45, 45, 45);
  text-decoration: none;
}

a:visited {
  color:rgb(85, 85, 85);
  text-decoration: none;
}

.add {
    display: flex;
    /* flex-grow: 0.33; */
    flex: 1 1 0;
    justify-content: space-around;
    margin-left: 4rem;
    margin-right: 4rem;
    /* background-color: rgb(216, 215, 175); */
    background-image: linear-gradient(rgb(204, 204, 144), rgb(228, 225, 73));
    border-radius: 8px;
    border-style: none;
    box-shadow: rgba(44, 44, 44, 0.15) 0 4px 9px;
    color: rgb(85, 85, 85);
    cursor: pointer;
    font-family: Inter,-apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 600;
    padding: 13px 20px;
    transform: translate3d(0, 0, 0);
    user-select: none;
}

  .add:hover {
    background-image: linear-gradient(rgb(209, 202, 108), rgb(218, 214, 26));
    color: rgb(48, 48, 48);
    opacity: 1;
    transform: translateY(0);
    transition-duration: .35s;
    box-shadow: rgba(29, 29, 29, 0.15) 0 4px 9px;
  }
  
  .add:active {
    transform: translateY(3px);
    transition-duration: .35s;
  }

  .add:visited {
    color:aqua;
  }

  .edit {
    display: flex;
    /* flex-grow: 0.33; */
    flex: 1 1 0;
    margin-left: 4rem;
    margin-right: 8rem;
    justify-content: space-around;
    /* background-color: rgb(216, 215, 175); */
    background-image: linear-gradient(rgb(204, 204, 144), rgb(228, 225, 73));
    border-radius: 8px;
    border-style: none;
    box-shadow: rgba(44, 44, 44, 0.15) 0 4px 9px;
    color: rgb(85, 85, 85);
    cursor: pointer;
    font-family: Inter,-apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 600;
    padding: 13px 20px;
    transform: translate3d(0, 0, 0);
    user-select: none;
  }
  
  .edit:hover {
    /* background-color: rgb(221, 219, 97); */
    background-image: linear-gradient(rgb(209, 202, 108), rgb(218, 214, 26));
    opacity: 1;
    transform: translateY(0);
    transition-duration: .35s;
    box-shadow: rgba(29, 29, 29, 0.15) 0 4px 9px;
    color: rgb(48, 48, 48);
  }
  
  .edit:active {
    transform: translateY(2px);
    transition-duration: .35s;
  }

  .edit_body {
    height: 70vh;
  }

  .edit_body p {
    /* height: 70vh; */
    text-indent: 12.5%;
    font-family: Inter,-apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif;
    font-size: 24px;
    font-weight: 600;
    margin-top: 2%;
    color: #e9e732;
  }

  .edit_box {
    /* margin-top: 4rem; */
    width: 80%;
    height: 94%;
    margin-left: 14%;
    overflow-y: auto;
    background-color: rgb(102, 102, 102);
    border-radius: 1rem;
  }

  .delete {
    display: flex;
    /* flex-grow: 0.33; */
    flex: 1 1 0;
    margin-left: 4rem;
    margin-right: 4rem;
    justify-content: space-around;
    /* background-color: rgb(216, 175, 175); */
    background-image: linear-gradient(rgb(226, 98, 98), rgb(251, 74, 74));
    border-radius: 8px;
    border-style: none;
    box-shadow: rgba(44, 44, 44, 0.15) 0 4px 9px;
    color: rgb(85, 85, 85);
    cursor: pointer;
    font-family: Inter,-apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 600;
    padding: 13px 20px;
    transform: translate3d(0, 0, 0);
    user-select: none;
  }
  
  .delete:hover {
    /* background-color: rgb(255, 66, 66); */
    background-image: linear-gradient(rgb(204, 62, 62), rgb(255, 66, 66));
    opacity: 1;
    transform: translateY(0);
    transition-duration: .35s;
    box-shadow: rgba(29, 29, 29, 0.15) 0 4px 9px;
    color: rgb(48, 48, 48);
  }
  
  .delete:active {
    transform: translateY(2px);
    transition-duration: .35s;
  }
.delrecipe {
    display: flex;
    /* flex-grow: 0.33; */
    flex: 1 1 0;
    margin-left: 4rem;
    margin-right: 4rem;
    justify-content: space-around;
    /* background-color: rgb(216, 175, 175); */
    /*I think this would look better as just a solid red*/
    background-image: linear-gradient(rgb(160, 99, 99), rgb(225, 59, 59));
    border-radius: 8px;
    border-style: none;
    box-shadow: rgba(44, 44, 44, 0.15) 0 4px 9px;
    color: rgb(85, 85, 85);
    cursor: pointer;
    font-family: Inter,-apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 600;
    padding: 13px 20px;
    transform: translate3d(0, 0, 0);
    user-select: none;
  }
  
.delrecipe:hover {
    /* background-color: rgb(255, 66, 66); */
    background-image: linear-gradient(rgb(204, 62, 62), rgb(255, 66, 66));
    opacity: 1;
    transform: translateY(0);
    transition-duration: .35s;
    box-shadow: rgba(29, 29, 29, 0.15) 0 4px 9px;
    color: rgb(48, 48, 48);
  }
  
  .delrecipe:active {
    transform: translateY(2px);
    transition-duration: .35s;
  }

/* Settings */
  .settings_body{
    text-indent: 12.5%;
    height: 70vh;
    text-indent: 12.5%;
    font-family: Inter,-apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif;
    font-size: 24px;
    font-weight: 600;
    /* margin-top: 3%; */
    margin-top: 3.4rem;
    color: #e9e732;
  }

  .settings_box {
    width: 80%;
    height: 94%;
    margin-left: 14%;
    background-color: rgb(102, 102, 102);
    border-radius: 1rem;
  }
  
  .settings_box p {
    margin-top: 3rem;
    margin-left: 2rem;
    text-indent: 0;
  }

  .pfp {
    margin-top: 8rem;
    margin-left: 24rem;
    scale: 250%;
  }

  .email {
    margin-top: 12rem;
  }

  .pass {
    margin-top: 3rem;
  }

  .switch_user {
    margin-top: 4rem;
  }

/* Swith user */
  .su_drop {
    position: relative;
    display: inline-block;

  }
  
  .su_drop-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.6);
    border-radius: 1rem;

    background-color:#5b5b5b;
    margin-left: 19rem;
    margin-top: -5rem;
  }
  
  .su_drop-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition: ease-in-out 2s;
  }
  
  .su_drop-content a:hover {background-color: #f1f1f1}
  .su_show {
    display:block;
    /* transition: ease-in-out 2s; */

  }

.su_show p {
  margin-top: 1rem;
}

.switch_text {
  background-color:#ddd;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.void {
  color:#5b5b5b;
  margin-left: 5%;
  margin-right: 5%;
  border-radius: 0.8rem;
  display: flex;
  align-self: center;
  align-items: center;
  background: transparent;
  border: none !important;
  /* font-size: 0; */
}

.void:hover {
  transform: translateX(8px);
  transition: ease-in-out;
  transition-duration: 0.2s;
  box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.1);
}

.void:active {
  background-color:#5b5b5b;
  transition: ease 0.3s;
  transform: translate(8px, 3px);
}

.void:focus {
  outline: none;
}

.above_box {
    padding-bottom: 10rem;
    margin-top: 5rem;
}

p.favorite{
  text-indent: 12.5%;
  font-family: Inter,-apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif;
  font-size: 24px;
  font-weight: 600;
  margin-top: 3%;
}

p.recent{
  /* text-indent: 16.5%; */
  text-indent: 12.5%;
  font-family: Inter,-apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif;
  font-size: 24px;
  font-weight: 600;
}

p.rated{
  /* text-indent: 16.5%; */
  text-indent: 12.5%;
  font-family: Inter,-apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif;
  font-size: 24px;
  font-weight: 600;
}
/*-----------------------------------*/
p.adding-recipe{
  text-indent: 12.5%;
  font-family: Inter,-apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif;
  font-size: 48px;
  font-weight: 600;
  margin-top: 3%;
  display: block;
}

.recipe-name{
  margin: auto;
  /*margin-left: 13%;*/
  border: 2px solid #eee;
  padding: 4px;
  border: 0;
  padding: 10px;
  border-radius: 4px;
  width: 700px;
  float: left;
  color:rgb(19, 19, 19);
  font-size: 15pt;
  display: block;
}

.recipe-rate{
  clear: both;
  margin: auto;
  margin-top:10px;
  border: 2px solid #eee;
  padding: 4px;
  border: 0;
  padding: 10px;
  border-radius: 4px;
  width: 90px;
  float: left;
  color:rgb(19, 19, 19);
  font-size: 15pt;
  display: block;
}
.instructions{
  background-color: rgb(180, 180, 180);
  padding: 20px;
  border: none;
  padding: 10px;
  border-radius: 4px;
  width: 493px;
  height: 500px;
  float: left;
  color:rgb(19, 19, 19);
  font-size: 15pt;
  color: black;
}
.oven-temp{
  margin: auto;
  margin-top:10px;
  margin-left: 10px;
  border: 2px solid #eee;
  padding: 4px;
  border: 0;
  padding: 10px;
  border-radius: 4px;
  width: 190px;
  float: left;
  color:rgb(19, 19, 19);
  font-size: 15pt;
  display: block;
}
.temp-type{
  background-color:rgb(180, 180, 180);
  margin: auto;
  margin-top:10px;
  margin-left: 10px;
  border: 2px solid #eee;
  padding: 4px;
  border: 0;
  padding: 10px;
  border-radius: 4px;
  width: 120px;
  float: left;
  color:rgb(19, 19, 19);
  font-size: 15pt;
  display: block;
}
.serv-size{
  background-color:rgb(180, 180, 180);
  margin: auto;
  margin-top:10px;
  margin-left: 10px;
  border: 2px solid #eee;
  padding: 4px;
  border: 0;
  padding: 10px;
  border-radius: 4px;
  width: 145px;
  float:left;
  color:rgb(19, 19, 19);
  font-size: 15pt;
  display: block;
}
.serv-size-word{
  font-size: 9px;
}
.picturebox{
  background-color:rgb(180, 180, 180);
  width: 490px;
  height: 380px;
  font-size: 30px;
  display: block;
  margin-top: 120px;
  margin-left:30%;
  text-align:center;
  padding-top: 170px;
  border-radius: 4px;
}
.add-divbox{
  margin-left: 13%;
  width: 700px;
  display: inline-block;
  vertical-align: top;
}
.instruct-box{
  width: 500px;
  margin-left: 10px;
  display:inline-block;
  vertical-align:top;
}
.utensilslist{
  clear: both;
  background-color: rgb(180, 180, 180);
  padding: 20px;
  border: none;
  padding: 10px;
  border-radius: 4px;
  margin-top: 10px;
  width: 200px;
  height: 380px;
  float: left;
  color:rgb(19, 19, 19);
  font-size: 15pt;
  color: black;
}    
.ingredientslist{
  background-color: rgb(180, 180, 180);
  padding: 20px;
  border: none;
  padding: 10px;
  border-radius: 4px;
  width: 200px;
  height: 500px;
  float: left;
  color:rgb(19, 19, 19);
  font-size: 15pt;
  color: black;
}
.pantry{
  width: 200px;
  margin-left: 8px;
  display:inline-block;
  vertical-align:top;
}             
.savebutton{
  margin-left: 1400px;
}
.save{
    background-image: rgb(255, 86, 86);
    border-radius: 8px;
    border-style: none;
    color: rgb(0, 0, 0);
    cursor: pointer;
    font-family: Inter,-apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif;
    font-size: 15px;
    font-weight: 600;
    padding: 13px 20px;
}
.cancel{
  margin-left: 10px;
    background-image: rgb(255, 0, 0);
    border-radius: 8px;
    border-style: none;
    color: rgb(0, 0, 0);
    cursor: pointer;
    font-family: Inter,-apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif;
    font-size: 15px;
    font-weight: 600;
    padding: 13px 20px;
}
/*-----------------------------------*/
.main_page {
  width: 100%;
  margin-top: -1.8rem;
}

.favorite_recipes {
  margin-bottom: 20px;
  margin-right: 50px;
  margin-left: 12%;
  padding-left: 10%;
  padding-right: 10%;
  width: 80%;
  height: 150px;
  /* border: 2px solid rgb(231, 228, 28); */
  border-radius: .5rem;
  background-color: rgb(85, 85, 85);
  display: flex;
  justify-content: center;
  align-items: center;
}

.favorite_recipes:hover {
  box-shadow: 5px 5px 5px rgb(33, 33, 33);
  transition: box-shadow 0.2s ease-in-out;
  transform: translate(2px, -3px);
  transition: 0.25s;
}

.recent_recipes {
    margin-bottom: 20px;
    margin-left: 12%;
    margin-right: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10%;
    padding-right: 10%;
    width: 80%;
    height: 150px;
    /* border: 2px solid rgb(231, 228, 28); */
    border-radius: .5rem;

    background-color: rgb(85, 85, 85);
}

.recent_recipes:hover {
  box-shadow: 5px 5px 5px rgb(33, 33, 33);
  transition: box-shadow 0.2s ease-in-out;
  transform: translate(2px, -3px);
  transition: 0.25s;
}

.rated_recipes {
    margin-top: 20px;
    margin-left: 12%;
    margin-right: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10%;
    padding-right: 10%;
    width: 80%;
    height: 150px;
    /* border: 2px solid rgb(231, 228, 28); */
    border-radius: .5rem;
    background-color: rgb(85, 85, 85);
}

.rated_recipes:hover {
  box-shadow: 5px 5px 5px rgb(33, 33, 33);
  transition: box-shadow 0.2s ease-in-out;
  transform: translate(2px, -3px);
  transition: 0.25s;
}

.listed_recipes {
    margin-top: 2%;
    margin-bottom: 20px;
    margin-right: 50px;
    margin-left: 12%;
    padding-left: 10%;
    padding-right: 10%;
    width: 80%;
    height: 150px;
    /* border: 2px solid rgb(231, 228, 28); */
    border-radius: .5rem;
    background-color: rgb(85, 85, 85);
    display: flex;
    justify-content: center;
    align-items: center;
}

.listed_recipes:hover {
  box-shadow: 5px 5px 5px rgb(33, 33, 33);
  transition: box-shadow 0.2s ease-in-out;
  transform: translate(2px, -3px);
  transition: 0.25s;
}

p.recipe_name {
  font-family: Inter,-apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif;
  font-size: 34px;
  font-weight: 600;
  margin-top: 3%;
  color: rgb(180, 180, 180);
  margin: auto;
}

.listed_recipe_image {
  display: flex;
  border-radius: .5rem;
  width: 15%;
  height: 70%;
  background-color: rgb(180, 180, 180);
  margin: auto;
}

.listed_time {
  display: flex;
  border-radius: .5rem;
  width: 15%;
  height: 70%;
  background-color: rgb(180, 180, 180);
  margin: auto;
}

.listed_serving_size {
  display: flex;
  border-radius: .5rem;
  width: 15%;
  height: 70%;
  background-color: rgb(180, 180, 180);
  margin: auto;
}

p.listed_rating {
  font-family: Inter,-apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif;
  font-size: 34px;
  font-weight: 600;
  margin-top: 3%;
  color: rgb(180, 180, 180);
  margin: auto;
}

p.listed_text {
  font-family: Inter,-apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif;
  font-size: 20px;
  font-weight: 600;
  margin-top: 3%;
  color: rgb(86, 86, 86);
  margin: auto;
}

.button {
  display: flex;
    /* flex-grow: 0.33; */
    flex: 1 1 0;
    margin-left: 4rem;
    margin-right: 4rem;
    justify-content: space-around;
    background-image: rgb(86, 86, 86);
    border-radius: 8px;
    border-style: none;
    box-shadow: rgba(44, 44, 44, 0.15) 0 4px 9px;
    color: rgb(85, 85, 85);
    cursor: pointer;
    font-family: Inter,-apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 600;
    padding: 13px 20px;
    transform: translate3d(0, 0, 0);
    user-select: none;
}

.button:hover {
  background-image: linear-gradient(rgb(209, 202, 108), rgb(218, 214, 26));
  opacity: 1;
  transform: translateY(0);
  transition-duration: .35s;
  box-shadow: rgba(29, 29, 29, 0.15) 0 4px 9px;
  color: rgb(48, 48, 48);
}

.button:active {
  transform: translateY(2px);
  transition-duration: .35s;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color:rgb(71, 71, 71);
  justify-content: center;
  text-align: center;
  font-weight: 600;
  font-size: large;
  width: 100vw;
  margin: auto;
  color:#888888;
}

.left_1 {
  height: 19.5vh;  
  width: 150%;
  background-color: rgb(102, 102, 102);
  border-radius: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 1rem;
  padding-top: 2rem;
  padding-bottom: 1rem;
}

.left_2 {
  height: 57vh;  
  width: 150%;
  background-color: rgb(102, 102, 102);
  border-radius: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 1rem;
  padding-top: 4rem;
}

.b_home {
  background: transparent;
  border: none !important;
  font-size: 0;
  margin-left: 28%;
}

.b_home:hover {
  transform: translateY(-8px);
  transition-duration: 0.3s;
  transform: scale(1.1);
}

.b_home:active {
  transform: translateY(3px);
}

.b_home:visited {
  display: none;
}

.b_profile {
  background: transparent;
  border: none !important;
  font-size: 0;
  margin-left: 28%;
  margin-top: 6rem;
}

.b_profile:hover {
  transform: translateY(-4px);
  transition-duration: 0.3s;
  transform: scale(1.1);
}

.b_profile:active {
  transform: translateY(3px);
}

.b_profile:visited {
  display: none;
}

.b_settings {
  background: transparent;
  border: none !important;
  font-size: 0;
  margin-left: 28%;
  margin-top: 6rem;
}

.b_settings:hover {
  transform: translateY(-4px);
  transition-duration: 0.3s;
  transform: scale(1.1);
}

.b_settings:active {
  transform: translateY(3px);
}

.b_settings:visited {
  display: none;
}

.b_delete {
  background: transparent; border: none !important; font-size: 0;
  border: none !important;
  font-size: 0;
  margin: auto;
}

.b_delete:hover {
  transform: translateY(-8px);
  transition-duration: 0.3s;
  transform: scale(1.1);
}

.b_delete:active {
  transform: translateY(3px);
}

.b_delete:visited {
  display: none;
}

.rightside {
  width: 100%;
}

.timer {
  margin: auto;
  background-color: rgb(42, 42, 42);
  margin-left: 5%;
  padding-left: 5%;
  margin-right: 5%;
  padding-right: 5%;
  border-radius: 1rem;
  padding-top: 15%;
  padding-bottom: 15%;
}

.timing {
  font-size: 10pt;
}

.modal {
  background-color: rgba(0,0,0,0.4);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: table;
}

 .modal.hidden {
  display: none;
} 

 .modal .container {
 display: table-cell;
 text-align: center;
 vertical-align: middle;
 width: 80%;
 height: 80%;
}

.modal .body {
  box-shadow: 5px 10px #888888;
  display: inline-block;
  background-color: white;
  border: 1px solid black; 
  padding: 10px;
  width: 80%;
  height: 80%;
} 


/* CSS */


/* f1.html: */


.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  /*background-color: rgba(0, 0, 0, 0.5);*/
  background: transparent; border: none !important; font-size: 0;
  opacity: 0;
  visibility: hidden;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 1rem 1.5rem;
  width: 24rem;
  border-radius: 0.5rem;
}

.close-button {
  float: right;
  width: 1.5rem;
  line-height: 1.5rem;
  text-align: center;
  cursor: pointer;
  border-radius: 0.25rem;
  background-color: lightgray;
}

.close-button:hover {
  background-color: darkgray;
}

.show-modal {
  opacity: 1;
  visibility: visible;
  transform: scale(1.0);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
} 

.search_results {
  margin-bottom: 20px;
  margin-right: 50px;
  margin-left: 12%;
  padding-left: 10%;
  padding-right: 10%;
  width: 80%;
  height: 150px;
  border: 2px solid rgb(231, 228, 28);
  border-radius: .5rem;
  background-color: rgb(85, 85, 85);
  display: flex;
  justify-content: center;
  align-items: center;
}

p.search_text{
  /* text-indent: 16.5%; */
  text-indent: 12.5%;
  font-family: Inter,-apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif;
  font-size: 24px;
  font-weight: 600;
  margin-top: 3%;
}

.search_results {
  margin-bottom: 20px;
  margin-right: 50px;
  margin-left: 12%;
  padding-left: 10%;
  padding-right: 10%;
  width: 80%;
  height: 150px;
  border: 2px solid rgb(231, 228, 28);
  border-radius: .5rem;
  background-color: rgb(85, 85, 85);
  display: flex;
  justify-content: center;
  align-items: center;
}

/*following is for dropdown menu*/

div.checkbox_select
{
  width: 200px;
}

.checkbox_select_anchor
{
  display: block;
  background: gray;
  color: white;
  cursor: pointer;
  padding: 10px 5px 5px;
  position: relative;
}

.checkbox_select_anchor:after
{
  width: 0; 
	height: 0; 
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid darkgray;
  content: "";
  position: absolute;
  right: 10px;
  top: 15px;
}

.expanded .checkbox_select_anchor:after
{
	border-top: 0;
	border-bottom: 10px solid gray;
}


.checkbox_select_anchor:hover
{
  background: darkgray !important;
}

.expanded .checkbox_select_anchor
{
    background: gray;
}

div.checkbox_select .select_input
{
    width: 100%;
    cursor: pointer;
}

.checkbox_select_dropdown
{
    display: none;
    background: whitesmoke;
}

.checkbox_select_dropdown.show
{
    display: block;
}

.checkbox_select_dropdown ul
{
    max-height: 150px;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 0;
  margin: 0;
      border: 1px solid #999;
  border-top: 0;
  border-bottom: 0;
}
.checkbox_select_dropdown ul li
{
    list-style: none;
    position: relative;
    color: #666;
}
.checkbox_select_dropdown ul li label
{
  position: relative;
      padding: 10px 5px 5px 40px;
     display: block;
  cursor: pointer;
}
.checkbox_select_dropdown ul li label:hover
{
  background: darkgray;
  color: white;
}
.checkbox_select_dropdown ul li input:checked + label
{
  background: #bbb;
  color: white;
  text-shadow: 0px 1px 1px rgba(150, 150, 150, 1);
}
.checkbox_select_dropdown ul li input
{
  position: absolute;
  left:0;
  z-index:1;
  display: inline-block;
  height: 100%;
  width: 30px;
}
.checkbox_select_search
{
    width: 200px;
    padding: 10px 5px 5px;
    border: 1px solid #999;
      border-top: 0;
    -webkit-box-sizing: border-box;
	  -moz-box-sizing: border-box;
	  box-sizing: border-box;
}

.checkbox_select_submit
{
    background: #00A600;
    color: white;
    padding: 10px 5px 5px;
    border: 0;
    width: 100%;
    font-size: 14px;
    cursor: pointer;
}

.hide
{
    display: none;
}

.profile_body {
 text-indent: 12.5%;
 height: 70vh;
 text-indent: 12.5%;
 font-family: Inter,-apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif;
 font-size: 24px;
 font-weight: 600;
 margin-top: 2%;
 color: #e9e732;
}
.pantrylist{
  width: 60%;
  height: 30%;
  margin-top: 2%;
  margin-left: 2%;
  overflow-y: auto;
  background-color: #5b5b5b;
  border-radius: 1rem;
}

.user_box {
  width: 80%;
  height: 94%;
  margin-left: 14%;
  overflow-y: auto;
  background-color: rgb(102, 102, 102);
  border-radius: 1rem;
}

.user_box p {
  margin-top: 3rem;
  margin-left: 2rem;
  text-indent: 0;
}

.user_text {
  margin-left: 0;
  padding-left: 20%; 
}

.user_info p {
  color:antiquewhite;
  font-size: 14pt;
  padding-left: 2rem;
  margin-top: -1rem;
  padding-top: 1rem;
}

.user_info_1 p {
  color:antiquewhite;
  font-size: 14pt;
  padding-left: 2rem;
  margin-top: -1rem;
  padding-top: 1rem;
}

.info_box {
  margin-left: 2rem;
  border-radius: 1rem;
  background-color: #5b5b5b;
  padding: 1rem;
  padding-top: 1rem;
}

.user_picture {
  margin-top: 10rem;
  margin-left: 8rem;
  width: 45%;
  height: 45%;
  background-color: #5b5b5b;
  border-radius: 1rem;
}

.user_picture p {
  color:#bbb;
  font-size: xx-large;
}

.user_recipes {
  padding-top: 5rem;
  height: 94%;
}

.account {
  margin-top: 4rem;
}

.sign_out {
  margin-top: 5rem;
  margin-bottom: 15rem;
}


/*Dropdown*/
 /* Dropdown Button */
 .dropbtn {
  background-color: #04AA6D;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 110px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;
  transform: translateY(-8px);
  transition-duration: 0.3s;
  transform: scale(1.1);
} 

@media (max-width: 1000px) {
  .small {
    font-size: 200%;
  }

  .add {
    flex: 2 0 0;
    flex-direction: row;
    margin-left: 1rem;
    margin-right: 0.75rem;
  }

  .edit {
    flex: 2 0 0;
    flex-direction: row;
    margin-right: 0.75rem;
    margin-left: 0.75rem;
  }

  .delete {
    flex: 1.5 0 0;
    flex-direction: row;
    margin-right: 1.25rem;
    margin-left: 1.5rem;
  }

  .rightside {
    width: 100%;
  }

  .b_home {
    margin-left: 3.5%;
    transform: scale(0.75);
  }

  .b_home:hover {
    transform: scale(0.9);
  }

  .b_profile {
    margin-left: 3.5%;
    transform: scale(0.75);
  }

  .b_profile:hover {
    transform: scale(0.9);
  }

  .b_settings {
    margin-left: 3.5%;
    transform: scale(0.75);
  }

  .b_settings:hover {
    transform: scale(0.9);
  }

  .user_info {
    margin-left: -2.5rem;
  }

  .user_info p {
    font-size: 10pt;
  }
  
  .user_info_1 p {
    font-size: 10pt;
  }
}

