/* All styling classes for index.html and f1.html: */


/* index.html: */

body {
  width: 100vw;
  height: 100vh;
  background-color: rgb(48, 48, 48);
}

.header_info { 
    color:rgb(231, 228, 28);
    background-color: rgb(85, 85, 85);
    background-image: linear-gradient(rgb(131, 131, 131), rgb(85, 85, 85));
    border-radius: 0.25rem;
    display: flex;
    width: 100%;
    flex-grow: 1;
    color:rgb(224, 223, 159);
}



.header_bar {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    padding-bottom: 2rem;
    margin-top: 1.5rem;
    border-style: solid;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-width: 0.2rem;
    color:rgb(117, 117, 117);
    border-image: linear-gradient(to right, #dfdc40, 10%, #d8d8d8) 30;
}

.small {
    color:rgb(231, 228, 28);
    font-size: 200%;
    /* text-decoration: underline; */
    margin: auto;
    margin-left: 1rem;
}

.search {
    /* margin: auto; */
    margin-left: 3rem;
    border-radius: 20px;
    padding-right: 1rem;
    /* flex-grow: 1; */
    flex: 8 1 0;
}

/* .sub_small { */
    /* color: rgb(245, 230, 148); */
    /* flex-direction: column; */
    /* font-size: 14px; */
    /* margin-top: 5rem; */
    /* margin-left: -15rem; */
/* } */

.searching {
    margin: auto;
    border: 2px solid #eee;
    padding: 4px;
    border: 0;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.09);
    padding: 10px;
    border-radius: 20px;
    width: 100%;
    float: left;
    color:rgb(19, 19, 19);
    /* margin-right: 5rem; */
}

/* search text field */
input {
    background-color:rgb(180, 180, 180);
    /* color:aqua; */
}

input::placeholder {
    color:rgb(29, 29, 29);
}

input:focus::placeholder {
    -webkit-transition: ease-out;
    color: transparent;
}

input[type=text]:focus {
    box-shadow:0 0 15px 4px rgba(0,0,0,0.29);
    /* border: 2px solid #494949; */
    -webkit-transition: 0.2s;
    transition: 0.2s;
    outline: none;
}

.icon_search {
    margin-left: -3.2rem;
    margin-top: 0.9rem;
}

.add {
    display: flex;
    /* flex-grow: 0.33; */
    flex: 1 1 0;
    justify-content: space-around;
    margin-left: 4rem;
    margin-right: 4rem;
    background-color: rgb(216, 215, 175);
    border-radius: 8px;
    border-style: none;
    box-shadow: rgba(44, 44, 44, 0.15) 0 4px 9px;
    color: rgb(85, 85, 85);
    cursor: pointer;
    font-family: Inter,-apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 600;
    padding: 13px 20px;
    transform: translate3d(0, 0, 0);
    user-select: none;
}
  
  .add:hover {
    background-color: rgb(221, 219, 97);
    color: rgb(48, 48, 48);
    opacity: 1;
    transform: translateY(0);
    transition-duration: .35s;
    box-shadow: rgba(29, 29, 29, 0.15) 0 4px 9px;
  }
  
  .add:active {
    transform: translateY(2px);
    transition-duration: .35s;
  }

  .edit {
    display: flex;
    /* flex-grow: 0.33; */
    flex: 1 1 0;
    margin-left: 4rem;
    margin-right: 4rem;
    justify-content: space-around;
    background-color: rgb(216, 215, 175);
    border-radius: 8px;
    border-style: none;
    box-shadow: rgba(44, 44, 44, 0.15) 0 4px 9px;
    color: rgb(85, 85, 85);
    cursor: pointer;
    font-family: Inter,-apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 600;
    padding: 13px 20px;
    transform: translate3d(0, 0, 0);
    user-select: none;
  }
  
  .edit:hover {
    background-color: rgb(221, 219, 97);
    opacity: 1;
    transform: translateY(0);
    transition-duration: .35s;
    box-shadow: rgba(29, 29, 29, 0.15) 0 4px 9px;
  }
  
  .edit:active {
    transform: translateY(2px);
    transition-duration: .35s;
  }

  .delete {
    display: flex;
    /* flex-grow: 0.33; */
    flex: 1 1 0;
    margin-left: 4rem;
    margin-right: 4rem;
    justify-content: space-around;
    background-color: rgb(216, 215, 175);
    border-radius: 8px;
    border-style: none;
    box-shadow: rgba(44, 44, 44, 0.15) 0 4px 9px;
    color: rgb(85, 85, 85);
    cursor: pointer;
    font-family: Inter,-apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 600;
    padding: 13px 20px;
    transform: translate3d(0, 0, 0);
    user-select: none;
  }
  
  .delete:hover {
    background-color: rgb(221, 219, 97);
    opacity: 1;
    transform: translateY(0);
    transition-duration: .35s;
    box-shadow: rgba(29, 29, 29, 0.15) 0 4px 9px;
  }
  
  .delete:active {
    transform: translateY(2px);
    transition-duration: .35s;
  }

/* .add { */
    /* margin: auto; */
    /* font-size: 17pt; */
    /* padding-left: 6rem; */
    /* padding-right: 3rem; */
    /* float: left; */
    /* flex-grow: 0.2; */
    /* vertical-align: auto;
    border-style: ridge;
}

.edit {
    margin: auto;
    font-size: 17pt;
    padding-right: 3rem;
    float: left;
    flex-grow: 0.2;
}

.delete {
    margin: auto;
    font-size: 17pt;
    padding-right: 3rem;
    float: left;
    flex-grow: 0.2;
} */



/* Can use px, %, rem, em, for sizing elements*/
/* You generally want to avoid px, as its the pixel count (so on higher ppi screens, the size of that element will be smaller*/
/* As a general rule of thumb, I like using % (for example if you want a box covering most of the screen, you can set width like: "width: 80%" and it'll span 80% */
/* I also frequently use rem, its based of the font size of the root element */

.flex-container {
    background-color: aquamarine;
    width: 95%;
    margin: auto;
}

/*
.box_example {
    margin: auto;
    padding-left: 10%;
    padding-right: 10%;
    width: 100px;
    height: 40%;
    border: 2px solid rgb(231, 228, 28);
    border-radius: .5rem;

    background-color:rgb(85, 85, 85);
}
*/

.above_box {
    padding-bottom: 10rem;
    margin-top: 5rem;
}

p.favorite{
  text-indent: 16.5%;
  font-family: Inter,-apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif;
  font-size: 24px;
  font-weight: 600;
  margin-top: 3%;
}

p.recent{
  text-indent: 16.5%;
  font-family: Inter,-apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif;
  font-size: 24px;
  font-weight: 600;
}

p.rated{
  text-indent: 16.5%;
  font-family: Inter,-apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif;
  font-size: 24px;
  font-weight: 600;
}

.favorite_recipes {
    margin: auto;
    margin-bottom: 20px;
    margin-right: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10%;
    padding-right: 10%;
    width: 80%;
    height: 150px;
    border: 2px solid rgb(231, 228, 28);
    border-radius: .5rem;

    background-color: rgb(85, 85, 85);
}

.recent_recipes {
    margin: auto;
    margin-bottom: 20px;
    margin-right: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10%;
    padding-right: 10%;
    width: 80%;
    height: 150px;
    border: 2px solid rgb(231, 228, 28);
    border-radius: .5rem;

    background-color: rgb(85, 85, 85);
}

.rated_recipes {
    margin: auto;
    margin-bottom: 20px;
    margin-right: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10%;
    padding-right: 10%;
    width: 80%;
    height: 150px;
    border: 2px solid rgb(231, 228, 28);
    border-radius: .5rem;

    background-color: rgb(85, 85, 85);
}



/* beginning of CSS for mainscreen buttons */

.favorite1 {
  display: flex;
  /* flex-grow: 0.33; */
  height: 80%;
  width: 100px;
  flex: 1 1 0;
  justify-content: space-around;
  align-items: center;
  margin-left: 4rem;
  margin-right: 4rem;
  background-color: rgb(180, 180, 180);
  border-radius: 8px;
  border-style: none;
  box-shadow: rgba(39, 174, 96, .15) 0 4px 9px;
  color: #fff;
  cursor: pointer;
  font-family: Inter,-apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  padding: 13px 20px;
  transform: translate3d(0, 0, 0);
  user-select: none;
}

.favorite1:hover {
  background-color: rgb(221, 219, 97);
    color: rgb(48, 48, 48);
    opacity: 1;
    transform: translateY(0);
    transition-duration: .35s;
}

.favorite1:active {
  transform: translateY(2px);
  transition-duration: .35s;
}

.favorite1:hover {
  box-shadow: rgba(39, 174, 96, .2) 0 6px 12px;
}


.favorite2 {
  display: flex;
  /* flex-grow: 0.33; */
  height: 80%;
  width: 100px;
  flex: 1 1 0;
  justify-content: space-around;
  align-items: center;
  margin-left: 4rem;
  margin-right: 4rem;
  background-color: rgb(180, 180, 180);
  border-radius: 8px;
  border-style: none;
  box-shadow: rgba(39, 174, 96, .15) 0 4px 9px;
  color: #fff;
  cursor: pointer;
  font-family: Inter,-apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  padding: 13px 20px;
  transform: translate3d(0, 0, 0);
  user-select: none;
}

.favorite2:hover {
  background-color: rgb(221, 219, 97);
    color: rgb(48, 48, 48);
    opacity: 1;
    transform: translateY(0);
    transition-duration: .35s;
}

.favorite2:active {
  transform: translateY(2px);
  transition-duration: .35s;
}

.favorite2:hover {
  box-shadow: rgba(39, 174, 96, .2) 0 6px 12px;
}

.favorite3 {
  display: flex;
  /* flex-grow: 0.33; */
  height: 80%;
  width: 100px;
  flex: 1 1 0;
  justify-content: space-around;
  align-items: center;
  margin-left: 4rem;
  margin-right: 4rem;
  background-color: rgb(180, 180, 180);
  border-radius: 8px;
  border-style: none;
  box-shadow: rgba(39, 174, 96, .15) 0 4px 9px;
  color: #fff;
  cursor: pointer;
  font-family: Inter,-apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  padding: 13px 20px;
  transform: translate3d(0, 0, 0);
  user-select: none;
}

.favorite3:hover {
  background-color: rgb(221, 219, 97);
    color: rgb(48, 48, 48);
    opacity: 1;
    transform: translateY(0);
    transition-duration: .35s;
}

.favorite3:active {
  transform: translateY(2px);
  transition-duration: .35s;
}

.favorite3:hover {
  box-shadow: rgba(39, 174, 96, .2) 0 6px 12px;
}

.favorite4 {
  display: flex;
  /* flex-grow: 0.33; */
  height: 80%;
  width: 100px;
  flex: 1 1 0;
  justify-content: space-around;
  align-items: center;
  margin-left: 4rem;
  margin-right: 4rem;
  background-color: rgb(180, 180, 180);
  border-radius: 8px;
  border-style: none;
  box-shadow: rgba(39, 174, 96, .15) 0 4px 9px;
  color: #fff;
  cursor: pointer;
  font-family: Inter,-apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  padding: 13px 20px;
  transform: translate3d(0, 0, 0);
  user-select: none;
}

.favorite4:hover {
  background-color: rgb(221, 219, 97);
    color: rgb(48, 48, 48);
    opacity: 1;
    transform: translateY(0);
    transition-duration: .35s;
}

.favorite4:active {
  transform: translateY(2px);
  transition-duration: .35s;
}

.favorite4:hover {
  box-shadow: rgba(39, 174, 96, .2) 0 6px 12px;
}

.recent1 {
  display: flex;
  /* flex-grow: 0.33; */
  height: 80%;
  width: 100px;
  flex: 1 1 0;
  justify-content: space-around;
  align-items: center;
  margin-left: 4rem;
  margin-right: 4rem;
  background-color: rgb(180, 180, 180);
  border-radius: 8px;
  border-style: none;
  box-shadow: rgba(39, 174, 96, .15) 0 4px 9px;
  color: #fff;
  cursor: pointer;
  font-family: Inter,-apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  padding: 13px 20px;
  transform: translate3d(0, 0, 0);
  user-select: none;
}

.recent1:hover {
  background-color: rgb(221, 219, 97);
    color: rgb(48, 48, 48);
    opacity: 1;
    transform: translateY(0);
    transition-duration: .35s;
}

.recent1:active {
  transform: translateY(2px);
  transition-duration: .35s;
}

.recent1:hover {
  box-shadow: rgba(39, 174, 96, .2) 0 6px 12px;
}

.recent2 {
  display: flex;
  /* flex-grow: 0.33; */
  height: 80%;
  width: 100px;
  flex: 1 1 0;
  justify-content: space-around;
  align-items: center;
  margin-left: 4rem;
  margin-right: 4rem;
  background-color: rgb(180, 180, 180);
  border-radius: 8px;
  border-style: none;
  box-shadow: rgba(39, 174, 96, .15) 0 4px 9px;
  color: #fff;
  cursor: pointer;
  font-family: Inter,-apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  padding: 13px 20px;
  transform: translate3d(0, 0, 0);
  user-select: none;
}

.recent2:hover {
  background-color: rgb(221, 219, 97);
    color: rgb(48, 48, 48);
    opacity: 1;
    transform: translateY(0);
    transition-duration: .35s;
}

.recent2:active {
  transform: translateY(2px);
  transition-duration: .35s;
}

.recent2:hover {
  box-shadow: rgba(39, 174, 96, .2) 0 6px 12px;
}

.recent3 {
  display: flex;
  /* flex-grow: 0.33; */
  height: 80%;
  width: 100px;
  flex: 1 1 0;
  justify-content: space-around;
  align-items: center;
  margin-left: 4rem;
  margin-right: 4rem;
  background-color: rgb(180, 180, 180);
  border-radius: 8px;
  border-style: none;
  box-shadow: rgba(39, 174, 96, .15) 0 4px 9px;
  color: #fff;
  cursor: pointer;
  font-family: Inter,-apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  padding: 13px 20px;
  transform: translate3d(0, 0, 0);
  user-select: none;
}

.recent3:hover {
  background-color: rgb(221, 219, 97);
    color: rgb(48, 48, 48);
    opacity: 1;
    transform: translateY(0);
    transition-duration: .35s;
}

.recent3:active {
  transform: translateY(2px);
  transition-duration: .35s;
}

.recent3:hover {
  box-shadow: rgba(39, 174, 96, .2) 0 6px 12px;
}

.recent4 {
  display: flex;
  /* flex-grow: 0.33; */
  height: 80%;
  width: 100px;
  flex: 1 1 0;
  justify-content: space-around;
  align-items: center;
  margin-left: 4rem;
  margin-right: 4rem;
  background-color: rgb(180, 180, 180);
  border-radius: 8px;
  border-style: none;
  box-shadow: rgba(39, 174, 96, .15) 0 4px 9px;
  color: #fff;
  cursor: pointer;
  font-family: Inter,-apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  padding: 13px 20px;
  transform: translate3d(0, 0, 0);
  user-select: none;
}

.recent4:hover {
  background-color: rgb(221, 219, 97);
    color: rgb(48, 48, 48);
    opacity: 1;
    transform: translateY(0);
    transition-duration: .35s;
}

.recent4:active {
  transform: translateY(2px);
  transition-duration: .35s;
}

.recent4:hover {
  box-shadow: rgba(39, 174, 96, .2) 0 6px 12px;
}

.rated1 {
  display: flex;
  /* flex-grow: 0.33; */
  height: 80%;
  width: 100px;
  flex: 1 1 0;
  justify-content: space-around;
  align-items: center
  margin-left: 4rem;
  margin-right: 4rem;
  background-color: rgb(180, 180, 180);
  border-radius: 8px;
  border-style: none;
  box-shadow: rgba(39, 174, 96, .15) 0 4px 9px;
  color: #fff;
  cursor: pointer;
  font-family: Inter,-apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  padding: 13px 20px;
  transform: translate3d(0, 0, 0);
  user-select: none;
}

.rated1:hover {
  background-color: rgb(221, 219, 97);
    color: rgb(48, 48, 48);
    opacity: 1;
    transform: translateY(0);
    transition-duration: .35s;
}

.rated1:active {
  transform: translateY(2px);
  transition-duration: .35s;
}

.rated1:hover {
  box-shadow: rgba(39, 174, 96, .2) 0 6px 12px;
}

.rated2 {
  display: flex;
  /* flex-grow: 0.33; */
  height: 80%;
  width: 100px;
  flex: 1 1 0;
  justify-content: space-around;
  align-items: center;
  margin-left: 4rem;
  margin-right: 4rem;
  background-color: rgb(180, 180, 180);
  border-radius: 8px;
  border-style: none;
  box-shadow: rgba(39, 174, 96, .15) 0 4px 9px;
  color: #fff;
  cursor: pointer;
  font-family: Inter,-apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  padding: 13px 20px;
  transform: translate3d(0, 0, 0);
  user-select: none;
}

.rated2:hover {
  background-color: rgb(221, 219, 97);
    color: rgb(48, 48, 48);
    opacity: 1;
    transform: translateY(0);
    transition-duration: .35s;
}

.rated2:active {
  transform: translateY(2px);
  transition-duration: .35s;
}

.rated2:hover {
  box-shadow: rgba(39, 174, 96, .2) 0 6px 12px;
}

.rated3 {
  display: flex;
  /* flex-grow: 0.33; */
  height: 80%;
  width: 100px;
  flex: 1 1 0;
  justify-content: space-around;
  align-items: center;
  margin-left: 4rem;
  margin-right: 4rem;
  background-color: rgb(180, 180, 180);
  border-radius: 8px;
  border-style: none;
  box-shadow: rgba(39, 174, 96, .15) 0 4px 9px;
  color: #fff;
  cursor: pointer;
  font-family: Inter,-apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  padding: 13px 20px;
  transform: translate3d(0, 0, 0);
  user-select: none;
}

.rated3:hover {
  background-color: rgb(221, 219, 97);
    color: rgb(48, 48, 48);
    opacity: 1;
    transform: translateY(0);
    transition-duration: .35s;
}

.rated3:active {
  transform: translateY(2px);
  transition-duration: .35s;
}

.rated3:hover {
  box-shadow: rgba(39, 174, 96, .2) 0 6px 12px;
}

.rated4 {
  display: flex;
  /* flex-grow: 0.33; */
  height: 80%;
  width: 100px;
  flex: 1 1 0;
  justify-content: space-around;
  align-items: center;
  margin-left: 4rem;
  margin-right: 4rem;
  background-color: rgb(180, 180, 180);
  border-radius: 8px;
  border-style: none;
  box-shadow: rgba(39, 174, 96, .15) 0 4px 9px;
  color: #fff;
  cursor: pointer;
  font-family: Inter,-apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  padding: 13px 20px;
  transform: translate3d(0, 0, 0);
  user-select: none;
}

.rated4:hover {
  background-color: rgb(221, 219, 97);
    color: rgb(48, 48, 48);
    opacity: 1;
    transform: translateY(0);
    transition-duration: .35s;
}

.rated4:active {
  transform: translateY(2px);
  transition-duration: .35s;
}

.rated4:hover {
  box-shadow: rgba(39, 174, 96, .2) 0 6px 12px;
}

/* end of CSS for mainscreen buttons */


/* CSS */


/* f1.html: */